body{
	padding: 0 !important;
	margin: 0 !important;
}

nav{
	height: 5vh;
}

.container.full{
	height: 100vh;
	width: 100vw;
}

#input{
	line-height: 8vh;
	display: block;
	width: 95vw;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	height: inherit;
	font-size: inherit;
	border-top: 2px solid #aaaaaa;
}

.chatWindow{
	display: block;
	height: inherit;
	background-color: #333333;
}

#chatField{
	width: 100vw;
	height: 8vh;
	padding-right: 0;
	padding-left: 0;
	font-size: 4vh;
	position: absolute;
	bottom: 2vh;
}

#heading{
	line-height: 10vh;
	font-size: 3vh;
	position: absolute;
	color: white; 
	width: 10vh;
	height: 10vh;
	border-radius: 10vh;
	background-color: black;
	top: 2vh;
	right: 2vh;
	text-align: center;
}

#output{
	background-color: #333333;
	color: #71D459;
	height: 88vh;
	overflow: scroll;
}

.geoData{
	font-size: 10pt;	
}

button.btn{
	height: 40px;
	font-size: 18px;
	margin: 0;
	width: 10%;
	display: inline;
}

.geoData{
	color: #cccccc;
	font-size: 12px;
	margin-bottom: 5px;
}

#compassContainer{
	display: table-cell;
	vertical-align: middle;
	width: 30%;
}

#chatAndCompass{
	width: inherit;
	display: table;
}

.message{
	display: table;
	width: 100vw;
	/*vertical-align: middle;*/
	word-wrap: break-word;
	height: 8vh;
	padding-left: 10px;
	background-color: #444444;
	margin-bottom: 1vh;
}

.message .messageText{
	margin-bottom: 0;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.two{
	background-color: #666666;
}

.user{
	background-color: #597287;
}

#welcomeMessage{
	padding-bottom: 2vh;
	padding-left: 5vw;
	padding-top: 2vh;
}